<article class="listing">
  <h4>{{product.name}}</h4>
  <div class="location">
    <span>Location:</span>{{product.location}}
  </div>
  <div class="description">
    <span>Description:</span>{{product.description}}
  </div>
</article>