<div class="jumbo">
  <div class="right tomster">
    <h2>About This Site</h2>
    <p>
      This is a tutorial/scratch/plaground. Do whatever you like.
    </p>
    {{#link-to "contact" class="button"}}
      Contact Us
    {{/link-to}}
  </div>
</div>
