<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>
    Ember driven<br>
    Listing product info
  </p>
  <hr>
  <p>
    {{#each model as |product|}}
      <article class="listing">
        <h4>{{product.name}}</h4>
        <div class="location">
          <span>Location:</span>{{product.location}}
        </div>
        <div class="description">
          <span>Description:</span>{{product.description}}
        </div>
      </article>
    {{/each}}
  </p>
  {{#link-to "about" class="button"}}
    About Us
  {{/link-to}}
</div>
